@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* ## Colors */

    --yellow: hsl(47, 88%, 63%);

    --white: hsl(0, 0%, 100%);

    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);

    /* ## Typography */

    /* ### Body Copy */

    --fontSize: 16px; /* (paragraph) */

    /* ### Font */
    --font:outfit ;
    --weight1:500 ;
    --weight2:800 ;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--yellow);
    font-family: var(--font);
}
main {
    width: 22rem;
    padding: calc(1rem + 4px);
    border-radius:1rem;
    box-shadow: 6px 6px 0px var(--gray950);
    background-color: var(--white);
    border: 2px solid var(--gray950);
}
section.img > img {
    width: 100%;
    
}
article.ficha {
    margin-top: 1rem;
}
article.ficha .lear {
    background-color: var(--yellow);
    padding: .4rem .7rem;
    border-radius: 5px;
    font-weight: var(--weight2);
    display: inline-block;
}
article.ficha h1 {
    font-size: 1.3rem;
    color: var(--gray950);
    font-weight: var(--weight2);
    transition: .5s;
}
article.ficha h1:hover {
    color: var(--yellow);
    cursor: pointer;
}
article.ficha p {
    margin:1rem 0rem;
    font-size: var(--fontSize);
    color: var(--gray500);
    font-weight: var(--weight1);
}
article.ficha .perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    padding: .5rem 0rem;
}
div.perfil img {
    width: 2.5rem;
}
article.ficha .nome {
    color: var(--gray950);
    font-weight: var(--weight2);
}